<!-- <table>
  <tr>
    <td colspan="2">Report for day of </td>
    <td> September12,2019</td>
  </tr>
  <tr>
    <td>Operators</td>
    <td>Day shift</td>
    <td>Ajay</td>
    <td>Night shift</td>
    <td>Jake</td>
  </tr>
  <tr></tr>

  <tr>
    <td>Through puts</td>
    <td>m3/day</td>
    <td>m3/hr</td>
    <td></td>
    <td>bbls/day</td>
    <td>bbls/hr</td>
  </tr>
  <tr>
    <td>Through puts</td>
    <td>m3/day</td>
    <td>m3/hr</td>
    <td></td>
    <td>bbls/day</td>
    <td>bbls/hr</td>
  </tr>
</!-->


<div class="page-container mat-elevation-z3">
  <table>
    <tr>
      <td colspan="2">
        Report for day of
      </td>
      <td colspan="5">
        September 12, 2019
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Operators
      </td>
      <td>Day shift</td>
      <td class="light-green">
        Ashlee
      </td>
      <td colspan="2">
        Night shift
      </td>
      <td class="light-green">
        Jake
      </td>
    </tr>
    <tr>

      <td colspan="8"></td>
    </tr>
    <tr>
      <td colspan="3">THROUGHPUTS</td>
      <td class="light-green">m3/day</td>
      <td>m3/hr</td>
      <td></td>
      <td>bbls/day</td>
      <td>bbls/hr</td>
    </tr>
    <tr>
      <td colspan="3">Puget Sound Deliveries</td>
      <td class="light-green">32713.0</td>
      <td>1363.0</td>
      <td></td>
      <td>205758.6</td>
      <td>8573.3</td>
    </tr>
    <tr>
      <td colspan="3">TransMountain Receipts</td>
      <td class="light-green">55480.0</td>
      <td>2317.0</td>
      <td></td>
      <td>348598.7</td>
      <td>14539.9</td>
    </tr>
    <tr class="dark-green">
      <td colspan="9">Throughput Limiting Factor </td>
    </tr>
    <tr class="dark-green">
      <td colspan="3">Time</td>
      <td rowspan="2"> Approximate rate</td>
      <td colspan="3">Estimate Loss</td>
      <td rowspan="2" colspan="2">Limitations/comments</td>
    </tr>
    <tr class="dark-green">
      <td>Start</td>
      <td>End</td>
      <td>Duration</td>
      <td>KMC</td>
      <td>Shipper</td>
      <td>3rd party</td>
    </tr>
    <tr class="light-green">
      <td>0.00</td>
      <td rowspan="3"></td>
      <td class="white">0.00</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3" colspan="2"></td>
    </tr>
    <tr class="light-green">
      <td>0.00</td>


      <td class="white">0.00</td>

    </tr>
    <tr class="light-green">
      <td>0.00</td>

      <td class="white">0.00</td>

    </tr>
  </table>
  <table>
    <tr class="grey-color">
      <td colspan="7">
        Daily System Events
      </td>
    </tr>
    <tr class="grey-color">
      <td>
        S.no.
      </td>
      <td>
        Area
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Activity
      </td>
      <td>
        False SR
      </td>
      <td>
        Contact
      </td>
    </tr>




    <tr class="transparent-color">
      <td>1</td>
      <td>
        Laurel
      </td>
      <td>
        Fire water pump
      </td>
      <td>
        7.46
      </td>
      <td>
        Testing
      </td>
      <td></td>
      <td>
        Rick
      </td>
    </tr>
    <tr class="transparent-color">
      <td>2</td>
      <td>
        Laurel
      </td>
      <td>
        Fire water pump
      </td>
      <td>
        7.46
      </td>
      <td>
        Testing
      </td>
      <td></td>
      <td>
        Rick
      </td>
    </tr>
    <tr class="transparent-color">
      <td>
        3
      </td>
      <td>
        Laurel
      </td>
      <td>
        Fire water pump
      </td>
      <td>
        7.46
      </td>
      <td>
        Testing
      </td>
      <td></td>
      <td>
        Rick
      </td>
    </tr>
    <tr class="transparent-color">
      <td>
        4
      </td>
      <td>
        Laurel
      </td>
      <td>
        Fire water pump
      </td>
      <td>
        7.46
      </td>
      <td>
        Testing
      </td>
      <td></td>
      <td>
        Rick
      </td>
    </tr>
    <tr class="transparent-color">
      <td>5</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>6</td>

    </tr>
    <tr class="transparent-color">
      <td>7</td>

    </tr>


    <tr class="grey-color">
      <td colspan="7">Communication, Software and Leak Detection</td>
    </tr>
    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td class="yellow-color">
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3" class="yellow-color"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>
    <tr class="grey-color">
      <td colspan="7">Equipment Failure List</td>
    </tr>

    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td class="yellow-color">
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3" class="yellow-color"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>

    <tr class="grey-color">
      <td colspan="7">Proving Issues</td>
    </tr>

    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td class="yellow-color">
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3" class="yellow-color"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>

    <tr class="grey-color">
      <td colspan="7">ROW Activity List</td>
    </tr>

    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td>
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>

    <tr class="grey-color">
      <td colspan="7">Product Quality and Contamination issues</td>
    </tr>

    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td>
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>

    <tr class="grey-color">
      <td colspan="7">Call out report</td>
    </tr>

    <tr class="grey-color">
      <td>

        S.no
      </td>
      <td>
        Site
      </td>
      <td>
        Equipment
      </td>
      <td>
        Time
      </td>
      <td>
        Comments
      </td>
      <td>
        False SR
      </td>
      <td>
        Status/Contact
      </td>

    </tr>
    <tr class="transparent-color">
      <td>1</td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>
      <td rowspan="3"></td>


    </tr>
    <tr class="transparent-color">
      <td>2</td>

    </tr>
    <tr class="transparent-color">
      <td>3</td>

    </tr>

  </table>
</div>
