@import '~@angular/material/theming';
@import './theme-mixins';

@include mat-core();
$custom-theme-primary: mat-palette($mat-grey, 700);
$custom-theme-accent:mat-palette($mat-grey, 500);
$custom-theme-warn: mat-palette($mat-grey, 300);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include theme-based-configurations($custom-theme);
@include angular-material-theme($custom-theme);
